@tailwind base;

@tailwind components;

@responsive {
  .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
  }
  .title-sm {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
  }

  .cm-h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
  }

  .cm-h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -0.06em;
  }

  .cm-h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
  }

  .cm-h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.08em;
    line-height: 100%;
  }

  .cm-h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
  }

  .cm-sub1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.08em;
  }

  .cm-sub2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -0.08em;
  }
  .cm-p1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.08em;
  }
  .cm-p2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: -0.08em;
  }

  .cm-p3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.08em;
  }

  .cm-p4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.08em;
  }

  .cm-btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: -0.06em;
    text-transform: uppercase;
  }

  .cm-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
  }

  .cm-description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    /* identical to box height */

    letter-spacing: -0.08em;
  }
}

.cm-shadow-textBox {
  box-shadow: -1px 1px 4px rgba(23, 23, 23, 0.15);
}

.cm-shadow-1 {
  box-shadow: -2px 2px 10px rgba(70, 70, 70, 0.25);
}

.cm-shadow-2 {
  box-shadow: -4px 4px 4px rgba(70, 70, 70, 0.4);
}

.cm-shadow-5 {
  box-shadow: -8px 8px 4px rgba(70, 70, 70, 0.3);
}

.cm-shadow-100 {
  box-shadow: 0px 0px 79px rgba(0, 0, 0, 0.31);
}

.cm-shadow-200 {
  box-shadow: 2px 2px 6px rgba(70, 70, 70, 0.3);
}

.cm-shadow-300 {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

button:focus {
  outline: none;
}

@tailwind utilities;
